@use '../../partials/variables';

.container {
    min-height: 288px;
    border: 1px solid variables.$primaryColor;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-weight: 700;
}

.description {
    margin: 8px 0 0 0;
}

.linkContainer {
    display: flex;
    margin: 8px 0 0 0;
}

.icon {
    color: variables.$primaryColor;
    font-size: 32px;
    cursor: pointer;
}

.technologies {
    font-weight: 700;
}

.image {
    width: 432px;
    height: 288px;
    display: none;
}

@media (min-width: variables.$desktopBreakpoint) {
    .image {
        display: block;
    }
}
